
.container {
    background-color: seashell;
    
}

.form-wrapper{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.input{
flex-grow: 1;
height: 10vh;
margin-right: 10px;
border:none;
border-radius: 8px;
}

.submit-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  
}

.submit-button:hover{
   color: red;
  
}